<p>Hello <%= customerName %>,</p>
<p>You have an appointment on: <%= readableDate(dateTime) %></p>
<p>Here are the services</p>
<ul>
    <% services.forEach(function(service) { %>
    <li><%= service.service.name %>: <%= service.service.price.amount %> <%= service.service.price.currency %> | <%= readableTime(service.startTime) %> - <%= readableTime(service.endTime) %></li>
    <% }); %>
</ul>
