<body style="font-family: Arial, sans-serif; line-height: 1.6; background-color: #f4f4f4; margin: 0; padding: 0;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #fff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1 style="font-size: 24px; color: #333; margin-top: 0;">Bonjour <%= customerName %>,</h1>
        <p style="font-size: 16px; color: #666; margin: 10px 0;">Nous avons une nouvelle Offre Spéciale !!!</p>
        <p style="font-size: 16px; color: #666; margin: 10px 0;">Voici les détails du service :</p>
        <ul style="list-style-type: none; padding: 0;">
            <li style="font-size: 16px; color: #666; margin-bottom: 10px;"><strong>Nom :</strong> <%= specialOffer.service.name %></li>
            <li style="font-size: 16px; color: #666; margin-bottom: 10px;"><strong>Prix :</strong> <%= specialOffer.price.amount %> <%= specialOffer.price.currency %></li>
            <li style="font-size: 16px; color: #666; margin-bottom: 10px;"><strong>Valable du :</strong> <%= readableDate(specialOffer.startDate) %> au <%= readableDate(specialOffer.startDate) %></li>
        </ul>
    </div>
</body>
